# MySQL Configuration
DB_HOST=127.0.0.1
DB_USER=homeiot
DB_PASS=dummy_password
DB_NAME=homeiot_db

# Target Mobile Phone IP Addresses (comma separated)
TARGET_PHONE_IPS=192.168.111.51,192.168.111.52

# Philips Hue Configuration
HUE_BRIDGE_IP=192.168.111.100
HUE_API_USER=dummy_hue_api_user
HUE_ON_SCENE_ID=dummy_scene_id

# IFTTT Webhook Configuration
IFTTT_WEBHOOK_KEY=dummy_ifttt_key

# SwitchBot Webhook Configuration
SWITCHBOT_WEBHOOK_TOKEN=dummy_switchbot_token
